<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.library.admin.modules.borrowing.mapper.BorrowingMapper">

    <resultMap type="com.library.admin.modules.borrowing.entity.Borrowing" id="BorrowingMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="bookId" column="book_id" jdbcType="INTEGER"/>
        <result property="bookName" column="book_name" jdbcType="VARCHAR"/>
        <result property="isbn" column="isbn" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="jobNumber" column="job_number" jdbcType="VARCHAR"/>
        <result property="realName" column="real_name" jdbcType="VARCHAR"/>
        <result property="borrowDate" column="borrow_date" jdbcType="TIMESTAMP"/>
        <result property="endDate" column="end_date" jdbcType="TIMESTAMP"/>
        <result property="returnDate" column="return_date" jdbcType="TIMESTAMP"/>
        <result property="fee" column="fee" jdbcType="NUMERIC"/>
        <result property="quantityNum" column="quantity_num" jdbcType="INTEGER"/>
        <result property="borrowDuration" column="borrow_duration" jdbcType="INTEGER"/>
        <result property="borrowStatus" column="borrow_status" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

</mapper>

